.header {
    color: #334A51;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 100rem) {

    .recommendationscontainer {
        width: 80vh;
  


    }
    }

.income {
    font-style: italic;
    font-weight: bold;
    color: #334A51;
}

.recs {
    font-family: 'Times New Roman', Times, serif;
    color: #334A51;
}