.background {
    /* background-color: rgb(137, 209, 230); */
    color: rgb(48, 130, 167);
    height: 250rem;
}

.welcome {
    color: #334A51;
    font-style: italic;
}


.chartcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}