.background {
    /* background-color: rgb(199, 232, 242); */
    color: rgb(48, 130, 167);

}

.signup {
    background-color: #89D1E6;
    color: #334a51;
    border-radius: 20px;
    padding: 4px;
}

.contentcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.title {
    font-size: 32.36px;
    color: #0A8754;
}

.localtitle {
    text-align: center;
}

.box {
    color: #0A8754;
    width: 300px;
    height: min-content;
    /* border: 2px solid #334A51; */
    padding: 10px;
    overflow: auto;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start; */
    border-radius: 20px;
    
}