.riskexplanation {
    font-size: xx-small;
}

.factscontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
.formcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.inputboxes {
    border-radius: 10px;
}

button {
    border-radius: 10px;
    background-color: white;
}